In [1]:
import pandas as pd
import numpy as np
#coding=utf-8
import numpy as np
import pandas as pd
from scipy.stats import mode
import xgboost as xgb
from xgboost import XGBRegressor
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_error,roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from matplotlib import  pyplot
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn import preprocessing  
min_max_scaler = preprocessing.MinMaxScaler()  
from sklearn.model_selection import KFold,StratifiedKFold

In [2]:
train = pd.read_csv("../dealinput/train_bankcard.csv")
test = pd.read_csv("../dealinput/test_bankcard.csv")
train.columns
# train.rename(columns = {'trainAppl_sbm_tm':'Appl_sbm_tm'},inplace = True)   
# test.rename(columns = {'testAppl_sbm_tm':'Appl_sbm_tm'},inplace = True)  
# train.to_csv("../dealinput/train1.csv",index = False)
# test.to_csv("../dealinput/test1.csv",index = False)
fulldata = pd.concat([train,test],axis = 0,ignore_index = True)
train.head(),train.shape,test.shape
print(fulldata.isnull().sum().sort_values(ascending = False))
fulldata

target                  47031
card_type_more_count        0
bank_name_less_count        0
bank_name_more_cate         0
bank_name_more_count        0
card_type_less_cate         0
card_type_less_count        0
card_type_more_cate         0
havaCreditCard              0
phone_num                   0
id                          0
phoneSame                   0
phone_less_cate             0
phone_less_count            0
phone_more_cate             0
phone_more_count            0
bank_name_less_cate         0
dtype: int64

,bank_name_less_cate,bank_name_less_count,bank_name_more_cate,bank_name_more_count,card_type_less_cate,card_type_less_count,card_type_more_cate,card_type_more_count,havaCreditCard,id,phoneSame,phone_less_cate,phone_less_count,phone_more_cate,phone_more_count,phone_num,target
0,a,1,a,1,1.0,1,1.0,1,0,501951980776722440,0,132****2008,1,132****2008,1,1,0.0
1,c,1,c,1,1.0,1,1.0,1,0,525890212484616200,0,187****2500,1,187****2500,1,1,0.0
2,l,1,h,1,1.0,2,2.0,4,1,599309364691472392,0,135****3522,6,135****3522,6,6,0.0
3,m,1,m,1,1.0,1,1.0,1,0,582559913071350024,0,136****8651,1,136****8651,1,1,0.0
4,e,1,e,1,1.0,1,1.0,1,0,599017959926534408,0,137****4241,1,137****4241,1,1,0.0
5,b,1,a,4,1.0,2,2.0,4,1,575388917721731080,0,150****1035,6,150****1035,6,6,0.0
6,c,1,c,1,1.0,1,1.0,1,0,541887664329068552,0,134****2594,1,134****2594,1,1,0.0
7,c,1,c,1,1.0,1,1.0,1,0,605760099452981512,0,158****5755,1,158****5755,1,1,0.0
8,a,1,a,1,1.0,1,1.0,1,0,472286860756914440,0,188****8517,1,188****8517,1,1,0.0
9,i,1,o,1,1.0,3,1.0,3,0,600450091387457800,0,183****2222,3,183****2222,3,3,0.0
10,g,1,a,2,1.0,3,2.0,4,1,445986793985150984,0,181****7665,7,181****7665,7,7,0.0
11,c,1,c,1,1.0,1,1.0,1,0,585579575812034824,0,182****9100,1,182****9100,1,1,0.0
12,g,1,c,2,2.0,2,1.0,3,1,602880726743912712,1,150****1552,1,159****1288,2,5,0.0
13,b,1,b,1,1.0,1,1.0,1,0,487379155390828808,0,132****6933,1,132****6933,1,1,0.0
14,l,1,a,1,1.0,1,2.0,1,1,580552112572731400,0,188****7007,2,188****7007,2,2,0.0
15,l,1,d,2,1.0,2,2.0,3,1,575227006883467272,1,131****3993,1,151****0169,4,5,0.0
16,j,1,d,3,2.0,1,1.0,9,1,602804485714088200,1,189****3004,3,138****6662,7,10,0.0
17,j,1,d,1,1.0,1,2.0,3,1,610214215772279048,0,159****9790,4,159****9790,4,4,0.0
18,b,1,d,1,1.0,2,2.0,2,1,575149464268837128,0,138****3217,4,138****3217,4,4,0.0
19,h,1,h,1,2.0,1,2.0,1,1,612367293774565384,0,156****0497,1,156****0497,1,1,0.0
20,a,1,a,1,1.0,1,1.0,1,0,609995476309119240,0,136****0018,1,136****0018,1,1,0.0
21,b,1,o,1,1.0,3,1.0,3,0,591357844683493640,0,187****8443,3,187****8443,3,3,0.0
22,b,2,d,2,1.0,4,2.0,6,1,577098153635876872,0,186****7307,10,186****7307,10,10,0.0
23,b,1,a,2,2.0,1,1.0,2,1,575289884047052808,0,130****3666,3,130****3666,3,3,0.0
24,a,1,a,1,1.0,1,1.0,1,0,578256576788303880,0,138****4314,1,138****4314,1,1,0.0
25,n,1,a,1,1.0,2,1.0,2,0,511396424974340360,0,133****2001,2,133****2001,2,2,0.0
26,a,1,a,1,1.0,1,1.0,1,0,577509681136668680,0,139****5550,1,139****5550,1,1,0.0
27,d,1,d,1,1.0,1,1.0,1,0,512906721132285960,0,186****1417,1,186****1417,1,1,0.0
28,c,1,a,1,1.0,1,2.0,1,1,599329353393770760,0,150****0088,2,150****0088,2,2,0.0
29,b,1,b,1,1.0,1,1.0,1,0,598523024781611016,0,150****5653,1,150****5653,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167930,l,1,a,1,1.0,1,2.0,2,1,623271924721520904,0,186****1758,3,186****1758,3,3,NaN
167931,a,1,a,1,1.0,1,1.0,1,0,637035518642622472,0,184****8556,1,184****8556,1,1,NaN
167932,b,2,b,2,1.0,2,1.0,2,0,622123942567481352,0,134****1838,2,134****1838,2,2,NaN
167933,a,1,c,1,2.0,1,1.0,2,1,626598288761557256,0,150****6782,3,150****6782,3,3,NaN
167934,a,1,a,1,1.0,1,1.0,1,0,634144433633234952,0,134****9567,1,134****9567,1,1,NaN
167935,d,1,d,1,1.0,1,1.0,1,0,633911835082363144,0,183****9532,1,183****9532,1,1,NaN
167936,c,1,c,1,1.0,1,1.0,1,0,633861140593512456,0,139****8826,1,139****8826,1,1,NaN
167937,c,1,c,1,1.0,1,1.0,1,0,623851695335543048,0,182****5774,1,182****5774,1,1,NaN
167938,a,3,a,3,1.0,1,2.0,2,1,637377074457219080,0,188****3002,3,188****3002,3,3,NaN
167939,c,1,c,1,1.0,1,1.0,1,0,628854217028669704,0,183****5870,1,183****5870,1,1,NaN
167940,c,1,c,1,1.0,1,1.0,1,0,637737223814385672,0,138****2284,1,138****2284,1,1,NaN
167941,h,1,a,1,2.0,1,1.0,2,1,636234990551568392,1,183****2807,1,188****3742,2,3,NaN
167942,m,1,m,1,1.0,1,1.0,1,0,636846164297126152,0,134****4162,1,134****4162,1,1,NaN
167943,g,1,a,2,2.0,1,1.0,4,1,636931517116846088,0,187****7442,5,187****7442,5,5,NaN
167944,a,1,a,1,1.0,1,1.0,1,0,634085095715639304,0,136****9109,1,136****9109,1,1,NaN
167945,g,1,b,1,1.0,2,1.0,2,0,636502786896302344,0,153****9999,2,153****9999,2,2,NaN
167946,a,1,a,1,1.0,1,1.0,1,0,625971484413661448,0,136****5883,1,136****5883,1,1,NaN
167947,a,2,b,3,1.0,5,1.0,5,0,635160298910650376,1,133****5852,1,133****5341,4,5,NaN
167948,c,1,c,1,1.0,1,1.0,1,0,635209802435268872,0,134****5656,1,134****5656,1,1,NaN
167949,c,1,c,1,1.0,1,1.0,1,0,626931909942841608,0,131****3296,1,131****3296,1,1,NaN
167950,e,1,e,1,1.0,1,1.0,1,0,632506846933946376,0,159****0741,1,159****0741,1,1,NaN
167951,c,1,c,1,1.0,1,1.0,1,0,636638768396242952,0,137****6391,1,137****6391,1,1,NaN
167952,e,1,e,1,1.0,1,1.0,1,0,631822055116902664,0,150****2330,1,150****2330,1,1,NaN
167953,e,1,b,3,2.0,2,1.0,4,1,636073310785900808,0,153****0678,6,153****0678,6,6,NaN
167954,c,1,c,1,1.0,1,1.0,1,0,630947003144081672,0,159****9906,1,159****9906,1,1,NaN
167955,a,1,a,1,1.0,1,1.0,1,0,620243965999845384,0,158****7705,1,158****7705,1,1,NaN
167956,j,1,b,1,2.0,1,1.0,1,1,636847319106457608,0,135****5115,2,135****5115,2,2,NaN
167957,c,1,c,1,1.0,1,1.0,1,0,632440719637745928,0,137****6192,1,137****6192,1,1,NaN
167958,a,1,a,1,1.0,1,1.0,1,0,637517206111916296,0,158****9186,1,158****9186,1,1,NaN
167959,c,1,c,1,1.0,1,1.0,1,0,627500318740975624,0,188****5716,1,188****5716,1,1,NaN

In [7]:
# 4.22 ä»Žè¿™é‡Œå¼€å§‹ï¼Œå…ˆå°†æ‰‹æœºå·å’ŒåŸºç¡€è¡¨ä¸­çš„æ‰‹æœºå·åŒ¹é…æ˜¯å¦ç›¸åŒï¼ˆå¸¸è§æ‰‹æœºå·ï¼‰
# æœ¬è¡¨å°±ä¸è¦æ‰‹æœºå·çš„ä¿¡æ¯äº†
kk = pd.read_csv("../dealinput/train1.csv")   # train_auth_info
cc = pd.read_csv("../dealinput/test1.csv")   # train_auth_info
zz = pd.concat([kk,cc],axis = 0,ignore_index = True)
mm = zz[["id","phoneTop3"]]

fulldata = fulldata.merge(mm,how = "inner",on = "id")
fulldata.isnull().sum(),fulldata
# zz.columns
# # kk = pd.read_csv("../input/train_auth_info.csv")  
# print(kk.isnull().sum())
# # fulldata.info()

(bank_name_less_cate         0
 bank_name_less_count        0
 bank_name_more_cate         0
 bank_name_more_count        0
 card_type_less_cate         0
 card_type_less_count        0
 card_type_more_cate         0
 card_type_more_count        0
 havaCreditCard              0
 id                          0
 phoneSame                   0
 phone_less_cate             0
 phone_less_count            0
 phone_more_cate             0
 phone_more_count            0
 phone_num                   0
 target                  47031
 phoneTop3                   0
 dtype: int64,
        bank_name_less_cate  bank_name_less_count bank_name_more_cate  \
 0                        a                     1                   a
 1                        c                     1                   c
 2                        l                     1                   h
 3                        m                     1                   m
 4                        e                     1                   e
 5                        b                     1                   a
 6                        c                     1                   c
 7                        c                     1                   c
 8                        a                     1                   a
 9                        i                     1                   o
 10                       g                     1                   a
 11                       c                     1                   c
 12                       g                     1                   c
 13                       b                     1                   b
 14                       l                     1                   a
 15                       l                     1                   d
 16                       j                     1                   d
 17                       j                     1                   d
 18                       b                     1                   d
 19                       h                     1                   h
 20                       a                     1                   a
 21                       b                     1                   o
 22                       b                     2                   d
 23                       b                     1                   a
 24                       a                     1                   a
 25                       n                     1                   a
 26                       a                     1                   a
 27                       d                     1                   d
 28                       c                     1                   a
 29                       b                     1                   b
 ...                    ...                   ...                 ...
 167930                   l                     1                   a
 167931                   a                     1                   a
 167932                   b                     2                   b
 167933                   a                     1                   c
 167934                   a                     1                   a
 167935                   d                     1                   d
 167936                   c                     1                   c
 167937                   c                     1                   c
 167938                   a                     3                   a
 167939                   c                     1                   c
 167940                   c                     1                   c
 167941                   h                     1                   a
 167942                   m                     1                   m
 167943                   g                     1                   a
 167944                   a                     1                   a
 167945                   g                     1                   b
 167946                   a                     1                   a
 167947                   a                     2                   b
 167948                   c                     1                   c
 167949                   c                     1                   c
 167950                   e                     1                   e
 167951                   c                     1                   c
 167952                   e                     1                   e
 167953                   e                     1                   b
 167954                   c                     1                   c
 167955                   a                     1                   a
 167956                   j                     1                   b
 167957                   c                     1                   c
 167958                   a                     1                   a
 167959                   c                     1                   c

         bank_name_more_count  card_type_less_cate  card_type_less_count  \
 0                          1                  1.0                     1
 1                          1                  1.0                     1
 2                          1                  1.0                     2
 3                          1                  1.0                     1
 4                          1                  1.0                     1
 5                          4                  1.0                     2
 6                          1                  1.0                     1
 7                          1                  1.0                     1
 8                          1                  1.0                     1
 9                          1                  1.0                     3
 10                         2                  1.0                     3
 11                         1                  1.0                     1
 12                         2                  2.0                     2
 13                         1                  1.0                     1
 14                         1                  1.0                     1
 15                         2                  1.0                     2
 16                         3                  2.0                     1
 17                         1                  1.0                     1
 18                         1                  1.0                     2
 19                         1                  2.0                     1
 20                         1                  1.0                     1
 21                         1                  1.0                     3
 22                         2                  1.0                     4
 23                         2                  2.0                     1
 24                         1                  1.0                     1
 25                         1                  1.0                     2
 26                         1                  1.0                     1
 27                         1                  1.0                     1
 28                         1                  1.0                     1
 29                         1                  1.0                     1
 ...                      ...                  ...                   ...
 167930                     1                  1.0                     1
 167931                     1                  1.0                     1
 167932                     2                  1.0                     2
 167933                     1                  2.0                     1
 167934                     1                  1.0                     1
 167935                     1                  1.0                     1
 167936                     1                  1.0                     1
 167937                     1                  1.0                     1
 167938                     3                  1.0                     1
 167939                     1                  1.0                     1
 167940                     1                  1.0                     1
 167941                     1                  2.0                     1
 167942                     1                  1.0                     1
 167943                     2                  2.0                     1
 167944                     1                  1.0                     1
 167945                     1                  1.0                     2
 167946                     1                  1.0                     1
 167947                     3                  1.0                     5
 167948                     1                  1.0                     1
 167949                     1                  1.0                     1
 167950                     1                  1.0                     1
 167951                     1                  1.0                     1
 167952                     1                  1.0                     1
 167953                     3                  2.0                     2
 167954                     1                  1.0                     1
 167955                     1                  1.0                     1
 167956                     1                  2.0                     1
 167957                     1                  1.0                     1
 167958                     1                  1.0                     1
 167959                     1                  1.0                     1

         card_type_more_cate  card_type_more_count  havaCreditCard  \
 0                       1.0                     1               0
 1                       1.0                     1               0
 2                       2.0                     4               1
 3                       1.0                     1               0
 4                       1.0                     1               0
 5                       2.0                     4               1
 6                       1.0                     1               0
 7                       1.0                     1               0
 8                       1.0                     1               0
 9                       1.0                     3               0
 10                      2.0                     4               1
 11                      1.0                     1               0
 12                      1.0                     3               1
 13                      1.0                     1               0
 14                      2.0                     1               1
 15                      2.0                     3               1
 16                      1.0                     9               1
 17                      2.0                     3               1
 18                      2.0                     2               1
 19                      2.0                     1               1
 20                      1.0                     1               0
 21                      1.0                     3               0
 22                      2.0                     6               1
 23                      1.0                     2               1
 24                      1.0                     1               0
 25                      1.0                     2               0
 26                      1.0                     1               0
 27                      1.0                     1               0
 28                      2.0                     1               1
 29                      1.0                     1               0
 ...                     ...                   ...             ...
 167930                  2.0                     2               1
 167931                  1.0                     1               0
 167932                  1.0                     2               0
 167933                  1.0                     2               1
 167934                  1.0                     1               0
 167935                  1.0                     1               0
 167936                  1.0                     1               0
 167937                  1.0                     1               0
 167938                  2.0                     2               1
 167939                  1.0                     1               0
 167940                  1.0                     1               0
 167941                  1.0                     2               1
 167942                  1.0                     1               0
 167943                  1.0                     4               1
 167944                  1.0                     1               0
 167945                  1.0                     2               0
 167946                  1.0                     1               0
 167947                  1.0                     5               0
 167948                  1.0                     1               0
 167949                  1.0                     1               0
 167950                  1.0                     1               0
 167951                  1.0                     1               0
 167952                  1.0                     1               0
 167953                  1.0                     4               1
 167954                  1.0                     1               0
 167955                  1.0                     1               0
 167956                  1.0                     1               1
 167957                  1.0                     1               0
 167958                  1.0                     1               0
 167959                  1.0                     1               0

                         id  phoneSame phone_less_cate  phone_less_count  \
 0       501951980776722440          0     132****2008                 1
 1       525890212484616200          0     187****2500                 1
 2       599309364691472392          0     135****3522                 6
 3       582559913071350024          0     136****8651                 1
 4       599017959926534408          0     137****4241                 1
 5       575388917721731080          0     150****1035                 6
 6       541887664329068552          0     134****2594                 1
 7       605760099452981512          0     158****5755                 1
 8       472286860756914440          0     188****8517                 1
 9       600450091387457800          0     183****2222                 3
 10      445986793985150984          0     181****7665                 7
 11      585579575812034824          0     182****9100                 1
 12      602880726743912712          1     150****1552                 1
 13      487379155390828808          0     132****6933                 1
 14      580552112572731400          0     188****7007                 2
 15      575227006883467272          1     131****3993                 1
 16      602804485714088200          1     189****3004                 3
 17      610214215772279048          0     159****9790                 4
 18      575149464268837128          0     138****3217                 4
 19      612367293774565384          0     156****0497                 1
 20      609995476309119240          0     136****0018                 1
 21      591357844683493640          0     187****8443                 3
 22      577098153635876872          0     186****7307                10
 23      575289884047052808          0     130****3666                 3
 24      578256576788303880          0     138****4314                 1
 25      511396424974340360          0     133****2001                 2
 26      577509681136668680          0     139****5550                 1
 27      512906721132285960          0     186****1417                 1
 28      599329353393770760          0     150****0088                 2
 29      598523024781611016          0     150****5653                 1
 ...                    ...        ...             ...               ...
 167930  623271924721520904          0     186****1758                 3
 167931  637035518642622472          0     184****8556                 1
 167932  622123942567481352          0     134****1838                 2
 167933  626598288761557256          0     150****6782                 3
 167934  634144433633234952          0     134****9567                 1
 167935  633911835082363144          0     183****9532                 1
 167936  633861140593512456          0     139****8826                 1
 167937  623851695335543048          0     182****5774                 1
 167938  637377074457219080          0     188****3002                 3
 167939  628854217028669704          0     183****5870                 1
 167940  637737223814385672          0     138****2284                 1
 167941  636234990551568392          1     183****2807                 1
 167942  636846164297126152          0     134****4162                 1
 167943  636931517116846088          0     187****7442                 5
 167944  634085095715639304          0     136****9109                 1
 167945  636502786896302344          0     153****9999                 2
 167946  625971484413661448          0     136****5883                 1
 167947  635160298910650376          1     133****5852                 1
 167948  635209802435268872          0     134****5656                 1
 167949  626931909942841608          0     131****3296                 1
 167950  632506846933946376          0     159****0741                 1
 167951  636638768396242952          0     137****6391                 1
 167952  631822055116902664          0     150****2330                 1
 167953  636073310785900808          0     153****0678                 6
 167954  630947003144081672          0     159****9906                 1
 167955  620243965999845384          0     158****7705                 1
 167956  636847319106457608          0     135****5115                 2
 167957  632440719637745928          0     137****6192                 1
 167958  637517206111916296          0     158****9186                 1
 167959  627500318740975624          0     188****5716                 1

        phone_more_cate  phone_more_count  phone_num  target  phoneTop3
 0          132****2008                 1          1     0.0        132
 1          187****2500                 1          1     0.0        187
 2          135****3522                 6          6     0.0        135
 3          136****8651                 1          1     0.0        136
 4          137****4241                 1          1     0.0        137
 5          150****1035                 6          6     0.0        150
 6          134****2594                 1          1     0.0        134
 7          158****5755                 1          1     0.0        158
 8          188****8517                 1          1     0.0        152
 9          183****2222                 3          3     0.0        183
 10         181****7665                 7          7     0.0        181
 11         182****9100                 1          1     0.0        182
 12         159****1288                 2          5     0.0        159
 13         132****6933                 1          1     0.0        132
 14         188****7007                 2          2     0.0        188
 15         151****0169                 4          5     0.0        151
 16         138****6662                 7         10     0.0        138
 17         159****9790                 4          4     0.0        159
 18         138****3217                 4          4     0.0        138
 19         156****0497                 1          1     0.0        156
 20         136****0018                 1          1     0.0        136
 21         187****8443                 3          3     0.0        187
 22         186****7307                10         10     0.0        186
 23         130****3666                 3          3     0.0        130

In [17]:
fulldata.phone_more_cate = fulldata.phone_more_cate.astype("str")
fulldata["phone_more_cate_top3"] = fulldata.phone_more_cate.apply(lambda x:x[0:3])
fulldata["phone_more_cate_top3"] = fulldata["phone_more_cate_top3"].astype("int64")
fulldata["auth_bank_phoneTop3_same"] = 0
for i in range(fulldata.shape[0]):
    if fulldata["phone_more_cate_top3"].iloc[i] != fulldata["phoneTop3"].iloc[i]:
        fulldata["auth_bank_phoneTop3_same"].iloc[i] = 1
fulldata

d:\gongju\python3.6 64\anzhuang\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,bank_name_less_cate,bank_name_less_count,bank_name_more_cate,bank_name_more_count,card_type_less_cate,card_type_less_count,card_type_more_cate,card_type_more_count,havaCreditCard,id,phoneSame,phone_less_cate,phone_less_count,phone_more_cate,phone_more_count,phone_num,target,phoneTop3,phone_more_cate_top3,auth_bank_phoneTop3_same
0,a,1,a,1,1.0,1,1.0,1,0,501951980776722440,0,132****2008,1,132****2008,1,1,0.0,132,132,0
1,c,1,c,1,1.0,1,1.0,1,0,525890212484616200,0,187****2500,1,187****2500,1,1,0.0,187,187,0
2,l,1,h,1,1.0,2,2.0,4,1,599309364691472392,0,135****3522,6,135****3522,6,6,0.0,135,135,0
3,m,1,m,1,1.0,1,1.0,1,0,582559913071350024,0,136****8651,1,136****8651,1,1,0.0,136,136,0
4,e,1,e,1,1.0,1,1.0,1,0,599017959926534408,0,137****4241,1,137****4241,1,1,0.0,137,137,0
5,b,1,a,4,1.0,2,2.0,4,1,575388917721731080,0,150****1035,6,150****1035,6,6,0.0,150,150,0
6,c,1,c,1,1.0,1,1.0,1,0,541887664329068552,0,134****2594,1,134****2594,1,1,0.0,134,134,0
7,c,1,c,1,1.0,1,1.0,1,0,605760099452981512,0,158****5755,1,158****5755,1,1,0.0,158,158,0
8,a,1,a,1,1.0,1,1.0,1,0,472286860756914440,0,188****8517,1,188****8517,1,1,0.0,152,188,1
9,i,1,o,1,1.0,3,1.0,3,0,600450091387457800,0,183****2222,3,183****2222,3,3,0.0,183,183,0
10,g,1,a,2,1.0,3,2.0,4,1,445986793985150984,0,181****7665,7,181****7665,7,7,0.0,181,181,0
11,c,1,c,1,1.0,1,1.0,1,0,585579575812034824,0,182****9100,1,182****9100,1,1,0.0,182,182,0
12,g,1,c,2,2.0,2,1.0,3,1,602880726743912712,1,150****1552,1,159****1288,2,5,0.0,159,159,0
13,b,1,b,1,1.0,1,1.0,1,0,487379155390828808,0,132****6933,1,132****6933,1,1,0.0,132,132,0
14,l,1,a,1,1.0,1,2.0,1,1,580552112572731400,0,188****7007,2,188****7007,2,2,0.0,188,188,0
15,l,1,d,2,1.0,2,2.0,3,1,575227006883467272,1,131****3993,1,151****0169,4,5,0.0,151,151,0
16,j,1,d,3,2.0,1,1.0,9,1,602804485714088200,1,189****3004,3,138****6662,7,10,0.0,138,138,0
17,j,1,d,1,1.0,1,2.0,3,1,610214215772279048,0,159****9790,4,159****9790,4,4,0.0,159,159,0
18,b,1,d,1,1.0,2,2.0,2,1,575149464268837128,0,138****3217,4,138****3217,4,4,0.0,138,138,0
19,h,1,h,1,2.0,1,2.0,1,1,612367293774565384,0,156****0497,1,156****0497,1,1,0.0,156,156,0
20,a,1,a,1,1.0,1,1.0,1,0,609995476309119240,0,136****0018,1,136****0018,1,1,0.0,136,136,0
21,b,1,o,1,1.0,3,1.0,3,0,591357844683493640,0,187****8443,3,187****8443,3,3,0.0,187,187,0
22,b,2,d,2,1.0,4,2.0,6,1,577098153635876872,0,186****7307,10,186****7307,10,10,0.0,186,186,0
23,b,1,a,2,2.0,1,1.0,2,1,575289884047052808,0,130****3666,3,130****3666,3,3,0.0,130,130,0
24,a,1,a,1,1.0,1,1.0,1,0,578256576788303880,0,138****4314,1,138****4314,1,1,0.0,138,138,0
25,n,1,a,1,1.0,2,1.0,2,0,511396424974340360,0,133****2001,2,133****2001,2,2,0.0,133,133,0
26,a,1,a,1,1.0,1,1.0,1,0,577509681136668680,0,139****5550,1,139****5550,1,1,0.0,139,139,0
27,d,1,d,1,1.0,1,1.0,1,0,512906721132285960,0,186****1417,1,186****1417,1,1,0.0,186,186,0
28,c,1,a,1,1.0,1,2.0,1,1,599329353393770760,0,150****0088,2,150****0088,2,2,0.0,152,150,1
29,b,1,b,1,1.0,1,1.0,1,0,598523024781611016,0,150****5653,1,150****5653,1,1,0.0,150,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167930,l,1,a,1,1.0,1,2.0,2,1,623271924721520904,0,186****1758,3,186****1758,3,3,NaN,186,186,0
167931,a,1,a,1,1.0,1,1.0,1,0,637035518642622472,0,184****8556,1,184****8556,1,1,NaN,182,184,1
167932,b,2,b,2,1.0,2,1.0,2,0,622123942567481352,0,134****1838,2,134****1838,2,2,NaN,134,134,0
167933,a,1,c,1,2.0,1,1.0,2,1,626598288761557256,0,150****6782,3,150****6782,3,3,NaN,150,150,0
167934,a,1,a,1,1.0,1,1.0,1,0,634144433633234952,0,134****9567,1,134****9567,1,1,NaN,134,134,0
167935,d,1,d,1,1.0,1,1.0,1,0,633911835082363144,0,183****9532,1,183****9532,1,1,NaN,183,183,0
167936,c,1,c,1,1.0,1,1.0,1,0,633861140593512456,0,139****8826,1,139****8826,1,1,NaN,152,139,1
167937,c,1,c,1,1.0,1,1.0,1,0,623851695335543048,0,182****5774,1,182****5774,1,1,NaN,182,182,0
167938,a,3,a,3,1.0,1,2.0,2,1,637377074457219080,0,188****3002,3,188****3002,3,3,NaN,188,188,0
167939,c,1,c,1,1.0,1,1.0,1,0,628854217028669704,0,183****5870,1,183****5870,1,1,NaN,183,183,0
167940,c,1,c,1,1.0,1,1.0,1,0,637737223814385672,0,138****2284,1,138****2284,1,1,NaN,138,138,0
167941,h,1,a,1,2.0,1,1.0,2,1,636234990551568392,1,183****2807,1,188****3742,2,3,NaN,188,188,0
167942,m,1,m,1,1.0,1,1.0,1,0,636846164297126152,0,134****4162,1,134****4162,1,1,NaN,134,134,0
167943,g,1,a,2,2.0,1,1.0,4,1,636931517116846088,0,187****7442,5,187****7442,5,5,NaN,187,187,0
167944,a,1,a,1,1.0,1,1.0,1,0,634085095715639304,0,136****9109,1,136****9109,1,1,NaN,136,136,0
167945,g,1,b,1,1.0,2,1.0,2,0,636502786896302344,0,153****9999,2,153****9999,2,2,NaN,153,153,0
167946,a,1,a,1,1.0,1,1.0,1,0,625971484413661448,0,136****5883,1,136****5883,1,1,NaN,136,136,0
167947,a,2,b,3,1.0,5,1.0,5,0,635160298910650376,1,133****5852,1,133****5341,4,5,NaN,133,133,0
167948,c,1,c,1,1.0,1,1.0,1,0,635209802435268872,0,134****5656,1,134****5656,1,1,NaN,134,134,0
167949,c,1,c,1,1.0,1,1.0,1,0,626931909942841608,0,131****3296,1,131****3296,1,1,NaN,131,131,0
167950,e,1,e,1,1.0,1,1.0,1,0,632506846933946376,0,159****0741,1,159****0741,1,1,NaN,159,159,0
167951,c,1,c,1,1.0,1,1.0,1,0,636638768396242952,0,137****6391,1,137****6391,1,1,NaN,137,137,0
167952,e,1,e,1,1.0,1,1.0,1,0,631822055116902664,0,150****2330,1,150****2330,1,1,NaN,150,150,0
167953,e,1,b,3,2.0,2,1.0,4,1,636073310785900808,0,153****0678,6,153****0678,6,6,NaN,153,153,0
167954,c,1,c,1,1.0,1,1.0,1,0,630947003144081672,0,159****9906,1,159****9906,1,1,NaN,159,159,0
167955,a,1,a,1,1.0,1,1.0,1,0,620243965999845384,0,158****7705,1,158****7705,1,1,NaN,158,158,0
167956,j,1,b,1,2.0,1,1.0,1,1,636847319106457608,0,135****5115,2,135****5115,2,2,NaN,135,135,0
167957,c,1,c,1,1.0,1,1.0,1,0,632440719637745928,0,137****6192,1,137****6192,1,1,NaN,137,137,0
167958,a,1,a,1,1.0,1,1.0,1,0,637517206111916296,0,158****9186,1,158****9186,1,1,NaN,158,158,0
167959,c,1,c,1,1.0,1,1.0,1,0,627500318740975624,0,188****5716,1,188****5716,1,1,NaN,188,188,0

In [18]:
fulldata

,bank_name_less_cate,bank_name_less_count,bank_name_more_cate,bank_name_more_count,card_type_less_cate,card_type_less_count,card_type_more_cate,card_type_more_count,havaCreditCard,id,phoneSame,phone_less_cate,phone_less_count,phone_more_cate,phone_more_count,phone_num,target,phoneTop3,phone_more_cate_top3,auth_bank_phoneTop3_same
0,a,1,a,1,1.0,1,1.0,1,0,501951980776722440,0,132****2008,1,132****2008,1,1,0.0,132,132,0
1,c,1,c,1,1.0,1,1.0,1,0,525890212484616200,0,187****2500,1,187****2500,1,1,0.0,187,187,0
2,l,1,h,1,1.0,2,2.0,4,1,599309364691472392,0,135****3522,6,135****3522,6,6,0.0,135,135,0
3,m,1,m,1,1.0,1,1.0,1,0,582559913071350024,0,136****8651,1,136****8651,1,1,0.0,136,136,0
4,e,1,e,1,1.0,1,1.0,1,0,599017959926534408,0,137****4241,1,137****4241,1,1,0.0,137,137,0
5,b,1,a,4,1.0,2,2.0,4,1,575388917721731080,0,150****1035,6,150****1035,6,6,0.0,150,150,0
6,c,1,c,1,1.0,1,1.0,1,0,541887664329068552,0,134****2594,1,134****2594,1,1,0.0,134,134,0
7,c,1,c,1,1.0,1,1.0,1,0,605760099452981512,0,158****5755,1,158****5755,1,1,0.0,158,158,0
8,a,1,a,1,1.0,1,1.0,1,0,472286860756914440,0,188****8517,1,188****8517,1,1,0.0,152,188,1
9,i,1,o,1,1.0,3,1.0,3,0,600450091387457800,0,183****2222,3,183****2222,3,3,0.0,183,183,0
10,g,1,a,2,1.0,3,2.0,4,1,445986793985150984,0,181****7665,7,181****7665,7,7,0.0,181,181,0
11,c,1,c,1,1.0,1,1.0,1,0,585579575812034824,0,182****9100,1,182****9100,1,1,0.0,182,182,0
12,g,1,c,2,2.0,2,1.0,3,1,602880726743912712,1,150****1552,1,159****1288,2,5,0.0,159,159,0
13,b,1,b,1,1.0,1,1.0,1,0,487379155390828808,0,132****6933,1,132****6933,1,1,0.0,132,132,0
14,l,1,a,1,1.0,1,2.0,1,1,580552112572731400,0,188****7007,2,188****7007,2,2,0.0,188,188,0
15,l,1,d,2,1.0,2,2.0,3,1,575227006883467272,1,131****3993,1,151****0169,4,5,0.0,151,151,0
16,j,1,d,3,2.0,1,1.0,9,1,602804485714088200,1,189****3004,3,138****6662,7,10,0.0,138,138,0
17,j,1,d,1,1.0,1,2.0,3,1,610214215772279048,0,159****9790,4,159****9790,4,4,0.0,159,159,0
18,b,1,d,1,1.0,2,2.0,2,1,575149464268837128,0,138****3217,4,138****3217,4,4,0.0,138,138,0
19,h,1,h,1,2.0,1,2.0,1,1,612367293774565384,0,156****0497,1,156****0497,1,1,0.0,156,156,0
20,a,1,a,1,1.0,1,1.0,1,0,609995476309119240,0,136****0018,1,136****0018,1,1,0.0,136,136,0
21,b,1,o,1,1.0,3,1.0,3,0,591357844683493640,0,187****8443,3,187****8443,3,3,0.0,187,187,0
22,b,2,d,2,1.0,4,2.0,6,1,577098153635876872,0,186****7307,10,186****7307,10,10,0.0,186,186,0
23,b,1,a,2,2.0,1,1.0,2,1,575289884047052808,0,130****3666,3,130****3666,3,3,0.0,130,130,0
24,a,1,a,1,1.0,1,1.0,1,0,578256576788303880,0,138****4314,1,138****4314,1,1,0.0,138,138,0
25,n,1,a,1,1.0,2,1.0,2,0,511396424974340360,0,133****2001,2,133****2001,2,2,0.0,133,133,0
26,a,1,a,1,1.0,1,1.0,1,0,577509681136668680,0,139****5550,1,139****5550,1,1,0.0,139,139,0
27,d,1,d,1,1.0,1,1.0,1,0,512906721132285960,0,186****1417,1,186****1417,1,1,0.0,186,186,0
28,c,1,a,1,1.0,1,2.0,1,1,599329353393770760,0,150****0088,2,150****0088,2,2,0.0,152,150,1
29,b,1,b,1,1.0,1,1.0,1,0,598523024781611016,0,150****5653,1,150****5653,1,1,0.0,150,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167930,l,1,a,1,1.0,1,2.0,2,1,623271924721520904,0,186****1758,3,186****1758,3,3,NaN,186,186,0
167931,a,1,a,1,1.0,1,1.0,1,0,637035518642622472,0,184****8556,1,184****8556,1,1,NaN,182,184,1
167932,b,2,b,2,1.0,2,1.0,2,0,622123942567481352,0,134****1838,2,134****1838,2,2,NaN,134,134,0
167933,a,1,c,1,2.0,1,1.0,2,1,626598288761557256,0,150****6782,3,150****6782,3,3,NaN,150,150,0
167934,a,1,a,1,1.0,1,1.0,1,0,634144433633234952,0,134****9567,1,134****9567,1,1,NaN,134,134,0
167935,d,1,d,1,1.0,1,1.0,1,0,633911835082363144,0,183****9532,1,183****9532,1,1,NaN,183,183,0
167936,c,1,c,1,1.0,1,1.0,1,0,633861140593512456,0,139****8826,1,139****8826,1,1,NaN,152,139,1
167937,c,1,c,1,1.0,1,1.0,1,0,623851695335543048,0,182****5774,1,182****5774,1,1,NaN,182,182,0
167938,a,3,a,3,1.0,1,2.0,2,1,637377074457219080,0,188****3002,3,188****3002,3,3,NaN,188,188,0
167939,c,1,c,1,1.0,1,1.0,1,0,628854217028669704,0,183****5870,1,183****5870,1,1,NaN,183,183,0
167940,c,1,c,1,1.0,1,1.0,1,0,637737223814385672,0,138****2284,1,138****2284,1,1,NaN,138,138,0
167941,h,1,a,1,2.0,1,1.0,2,1,636234990551568392,1,183****2807,1,188****3742,2,3,NaN,188,188,0
167942,m,1,m,1,1.0,1,1.0,1,0,636846164297126152,0,134****4162,1,134****4162,1,1,NaN,134,134,0
167943,g,1,a,2,2.0,1,1.0,4,1,636931517116846088,0,187****7442,5,187****7442,5,5,NaN,187,187,0
167944,a,1,a,1,1.0,1,1.0,1,0,634085095715639304,0,136****9109,1,136****9109,1,1,NaN,136,136,0
167945,g,1,b,1,1.0,2,1.0,2,0,636502786896302344,0,153****9999,2,153****9999,2,2,NaN,153,153,0
167946,a,1,a,1,1.0,1,1.0,1,0,625971484413661448,0,136****5883,1,136****5883,1,1,NaN,136,136,0
167947,a,2,b,3,1.0,5,1.0,5,0,635160298910650376,1,133****5852,1,133****5341,4,5,NaN,133,133,0
167948,c,1,c,1,1.0,1,1.0,1,0,635209802435268872,0,134****5656,1,134****5656,1,1,NaN,134,134,0
167949,c,1,c,1,1.0,1,1.0,1,0,626931909942841608,0,131****3296,1,131****3296,1,1,NaN,131,131,0
167950,e,1,e,1,1.0,1,1.0,1,0,632506846933946376,0,159****0741,1,159****0741,1,1,NaN,159,159,0
167951,c,1,c,1,1.0,1,1.0,1,0,636638768396242952,0,137****6391,1,137****6391,1,1,NaN,137,137,0
167952,e,1,e,1,1.0,1,1.0,1,0,631822055116902664,0,150****2330,1,150****2330,1,1,NaN,150,150,0
167953,e,1,b,3,2.0,2,1.0,4,1,636073310785900808,0,153****0678,6,153****0678,6,6,NaN,153,153,0
167954,c,1,c,1,1.0,1,1.0,1,0,630947003144081672,0,159****9906,1,159****9906,1,1,NaN,159,159,0
167955,a,1,a,1,1.0,1,1.0,1,0,620243965999845384,0,158****7705,1,158****7705,1,1,NaN,158,158,0
167956,j,1,b,1,2.0,1,1.0,1,1,636847319106457608,0,135****5115,2,135****5115,2,2,NaN,135,135,0
167957,c,1,c,1,1.0,1,1.0,1,0,632440719637745928,0,137****6192,1,137****6192,1,1,NaN,137,137,0
167958,a,1,a,1,1.0,1,1.0,1,0,637517206111916296,0,158****9186,1,158****9186,1,1,NaN,158,158,0
167959,c,1,c,1,1.0,1,1.0,1,0,627500318740975624,0,188****5716,1,188****5716,1,1,NaN,188,188,0

In [21]:
fulldata.to_csv("../input/bank_full_undeal.csv",index = False)
fulldata.columns

Index(['bank_name_less_cate', 'bank_name_less_count', 'bank_name_more_cate',
       'bank_name_more_count', 'card_type_less_cate', 'card_type_less_count',
       'card_type_more_cate', 'card_type_more_count', 'havaCreditCard', 'id',
       'phoneSame', 'phone_less_cate', 'phone_less_count', 'phone_more_cate',
       'phone_more_count', 'phone_num', 'target', 'phoneTop3',
       'phone_more_cate_top3', 'auth_bank_phoneTop3_same'],
      dtype='object')

In [24]:
del fulldata["bank_name_less_cate"]
del fulldata["bank_name_less_count"]
del fulldata["card_type_less_cate"]
del fulldata["card_type_less_count"]
del fulldata["phone_less_cate"]
del fulldata["phone_less_count"]
del fulldata["phone_more_cate"]
print(fulldata.columns)
fulldata.head()

Index(['bank_name_more_cate', 'bank_name_more_count', 'card_type_more_cate',
       'card_type_more_count', 'havaCreditCard', 'id', 'phoneSame',
       'phone_more_count', 'phone_num', 'target', 'phoneTop3',
       'phone_more_cate_top3', 'auth_bank_phoneTop3_same'],
      dtype='object')

,bank_name_more_cate,bank_name_more_count,card_type_more_cate,card_type_more_count,havaCreditCard,id,phoneSame,phone_more_count,phone_num,target,phoneTop3,phone_more_cate_top3,auth_bank_phoneTop3_same
0,a,1,1.0,1,0,501951980776722440,0,1,1,0.0,132,132,0
1,c,1,1.0,1,0,525890212484616200,0,1,1,0.0,187,187,0
2,h,1,2.0,4,1,599309364691472392,0,6,6,0.0,135,135,0
3,m,1,1.0,1,0,582559913071350024,0,1,1,0.0,136,136,0
4,e,1,1.0,1,0,599017959926534408,0,1,1,0.0,137,137,0

In [25]:
del fulldata["phoneTop3"]
fulldata.columns

Index(['bank_name_more_cate', 'bank_name_more_count', 'card_type_more_cate',
       'card_type_more_count', 'havaCreditCard', 'id', 'phoneSame',
       'phone_more_count', 'phone_num', 'target', 'phone_more_cate_top3',
       'auth_bank_phoneTop3_same'],
      dtype='object')

In [28]:
# (['bank_name_less_cate', 'bank_name_less_count', 'bank_name_more_cate',
#        'bank_name_more_count', 'card_type_less_cate', 'card_type_less_count',
#        'card_type_more_cate', 'card_type_more_count', 'havaCreditCard', 'id',
#        'phoneSame', 'phone_less_cate', 'phone_less_count', 'phone_more_cate',
#        'phone_more_count', 'phone_num', 'target'],
#æœ€å°‘çš„éƒ½ä¸è¦äº†      ï¼ˆæœ€å°‘çš„ä¹Ÿè®¸æ˜¯å¼‚å¸¸å€¼ï¼‰
from sklearn import preprocessing  
cate_feature = [ 'bank_name_more_cate', 'card_type_more_cate', 'havaCreditCard', 
       'phoneSame',  'phone_more_cate_top3', 'auth_bank_phoneTop3_same' ]
num_feature = ['bank_name_more_count', 'card_type_more_count','phone_more_count',  
        'phone_num']
min_max_scaler = preprocessing.StandardScaler()

for i in range(len(cate_feature)):
    tmp = pd.get_dummies(fulldata[cate_feature[i]],prefix = cate_feature[i])
    fulldata = pd.concat([fulldata,tmp],axis = 1) 
    del fulldata[cate_feature[i]]
num = pd.DataFrame(min_max_scaler.fit_transform(fulldata[num_feature]),columns = num_feature)
fulldata.drop(columns = num_feature,inplace = True)
fulldata = pd.concat([fulldata,num],axis = 1) 
m = fulldata.target.copy()
del fulldata["target"]
fulldata.insert(1,"target",m)
fulldata

,id,target,bank_name_more_cate_a,bank_name_more_cate_b,bank_name_more_cate_c,bank_name_more_cate_d,bank_name_more_cate_e,bank_name_more_cate_f,bank_name_more_cate_g,bank_name_more_cate_h,...,phone_more_cate_top3_186,phone_more_cate_top3_187,phone_more_cate_top3_188,phone_more_cate_top3_189,auth_bank_phoneTop3_same_0,auth_bank_phoneTop3_same_1,bank_name_more_count,card_type_more_count,phone_more_count,phone_num
0,501951980776722440,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
1,525890212484616200,0.0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
2,599309364691472392,0.0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,-0.519122,1.307612,1.680578,1.500924
3,582559913071350024,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
4,599017959926534408,0.0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
5,575388917721731080,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3.277598,1.307612,1.680578,1.500924
6,541887664329068552,0.0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
7,605760099452981512,0.0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
8,472286860756914440,0.0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,-0.519122,-0.582044,-0.604938,-0.613536
9,600450091387457800,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,0.677726,0.309269,0.232248
10,445986793985150984,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0.746452,1.307612,2.137681,1.923816
11,585579575812034824,0.0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
12,602880726743912712,0.0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0.746452,0.677726,-0.147835,1.078032
13,487379155390828808,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
14,580552112572731400,0.0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,-0.519122,-0.582044,-0.147835,-0.190644
15,575227006883467272,0.0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0.746452,0.677726,0.766372,1.078032
16,602804485714088200,0.0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,2.012025,4.457037,2.137681,3.192493
17,610214215772279048,0.0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,-0.519122,0.677726,0.766372,0.655140
18,575149464268837128,0.0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,-0.519122,0.047841,0.766372,0.655140
19,612367293774565384,0.0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
20,609995476309119240,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
21,591357844683493640,0.0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,-0.519122,0.677726,0.309269,0.232248
22,577098153635876872,0.0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0.746452,2.567382,3.508990,3.192493
23,575289884047052808,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0.746452,0.047841,0.309269,0.232248
24,578256576788303880,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
25,511396424974340360,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,0.047841,-0.147835,-0.190644
26,577509681136668680,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
27,512906721132285960,0.0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
28,599329353393770760,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,-0.519122,-0.582044,-0.147835,-0.190644
29,598523024781611016,0.0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167930,623271924721520904,NaN,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,-0.519122,0.047841,0.309269,0.232248
167931,637035518642622472,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,-0.519122,-0.582044,-0.604938,-0.613536
167932,622123942567481352,NaN,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0.746452,0.047841,-0.147835,-0.190644
167933,626598288761557256,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,0.047841,0.309269,0.232248
167934,634144433633234952,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167935,633911835082363144,NaN,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167936,633861140593512456,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,-0.519122,-0.582044,-0.604938,-0.613536
167937,623851695335543048,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167938,637377074457219080,NaN,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,2.012025,0.047841,0.309269,0.232248
167939,628854217028669704,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167940,637737223814385672,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167941,636234990551568392,NaN,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,-0.519122,0.047841,-0.147835,0.232248
167942,636846164297126152,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167943,636931517116846088,NaN,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0.746452,1.307612,1.223475,1.078032
167944,634085095715639304,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167945,636502786896302344,NaN,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,0.047841,-0.147835,-0.190644
167946,625971484413661448,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167947,635160298910650376,NaN,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,2.012025,1.937497,0.766372,1.078032
167948,635209802435268872,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167949,626931909942841608,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167950,632506846933946376,NaN,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167951,636638768396242952,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167952,631822055116902664,NaN,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167953,636073310785900808,NaN,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,2.012025,1.307612,1.680578,1.500924
167954,630947003144081672,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167955,620243965999845384,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167956,636847319106457608,NaN,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.147835,-0.190644
167957,632440719637745928,NaN,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167958,637517206111916296,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536
167959,627500318740975624,NaN,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,-0.519122,-0.582044,-0.604938,-0.613536

In [33]:
# cc = fulldata[ff]
# cc.insert(0,"id",fulldata.id)
# cc.insert(1,"target",fulldata.target)
# train = fulldata[0:train.shape[0]]
# test = cc[train.shape[0]:]
# del test["target"]
# train.head(),test.head(),train.shape,test.shape
# train.to_csv("../dealinput/train1ok.csv",index = False)
# test.to_csv("../dealinput/test1ok.csv",index = False)
#å› ä¸ºå‰é¢mergeäº†ä¸€æ¬¡ï¼Œæ‰€ä»¥éœ€è¦å†æ¬¡merge
train = pd.read_csv("../dealinput/train_bankcard.csv")
test = pd.read_csv("../dealinput/test_bankcard.csv")
train.head(),train.shape,test.shape
kk = pd.DataFrame(train.id)
zz = pd.DataFrame(test.id)
kk,zz
train = fulldata.merge(kk,how = 'inner', on = 'id')
test = fulldata.merge(zz,how = 'inner', on = 'id')
print(train.shape,test.shape)
print(train.isnull().sum(),test.isnull().sum())
train.head(),test.head()

(120929, 67) (47031, 67)
id                            0
target                        0
bank_name_more_cate_a         0
bank_name_more_cate_b         0
bank_name_more_cate_c         0
bank_name_more_cate_d         0
bank_name_more_cate_e         0
bank_name_more_cate_f         0
bank_name_more_cate_g         0
bank_name_more_cate_h         0
bank_name_more_cate_i         0
bank_name_more_cate_j         0
bank_name_more_cate_k         0
bank_name_more_cate_l         0
bank_name_more_cate_m         0
bank_name_more_cate_n         0
bank_name_more_cate_nk        0
bank_name_more_cate_o         0
card_type_more_cate_1.0       0
card_type_more_cate_2.0       0
havaCreditCard_0              0
havaCreditCard_1              0
phoneSame_0                   0
phoneSame_1                   0
phone_more_cate_top3_130      0
phone_more_cate_top3_131      0
phone_more_cate_top3_132      0
phone_more_cate_top3_133      0
phone_more_cate_top3_134      0
phone_more_cate_top3_135      0
                             ..
phone_more_cate_top3_152      0
phone_more_cate_top3_153      0
phone_more_cate_top3_155      0
phone_more_cate_top3_156      0
phone_more_cate_top3_157      0
phone_more_cate_top3_158      0
phone_more_cate_top3_159      0
phone_more_cate_top3_170      0
phone_more_cate_top3_171      0
phone_more_cate_top3_173      0
phone_more_cate_top3_175      0
phone_more_cate_top3_176      0
phone_more_cate_top3_177      0
phone_more_cate_top3_178      0
phone_more_cate_top3_180      0
phone_more_cate_top3_181      0
phone_more_cate_top3_182      0
phone_more_cate_top3_183      0
phone_more_cate_top3_184      0
phone_more_cate_top3_185      0
phone_more_cate_top3_186      0
phone_more_cate_top3_187      0
phone_more_cate_top3_188      0
phone_more_cate_top3_189      0
auth_bank_phoneTop3_same_0    0
auth_bank_phoneTop3_same_1    0
bank_name_more_count          0
card_type_more_count          0
phone_more_count              0
phone_num                     0
Length: 67, dtype: int64 id                                0
target                        47031
bank_name_more_cate_a             0
bank_name_more_cate_b             0
bank_name_more_cate_c             0
bank_name_more_cate_d             0
bank_name_more_cate_e             0
bank_name_more_cate_f             0
bank_name_more_cate_g             0
bank_name_more_cate_h             0
bank_name_more_cate_i             0
bank_name_more_cate_j             0
bank_name_more_cate_k             0
bank_name_more_cate_l             0
bank_name_more_cate_m             0
bank_name_more_cate_n             0
bank_name_more_cate_nk            0
bank_name_more_cate_o             0
card_type_more_cate_1.0           0
card_type_more_cate_2.0           0
havaCreditCard_0                  0
havaCreditCard_1                  0
phoneSame_0                       0
phoneSame_1                       0
phone_more_cate_top3_130          0
phone_more_cate_top3_131          0
phone_more_cate_top3_132          0
phone_more_cate_top3_133          0
phone_more_cate_top3_134          0
phone_more_cate_top3_135          0
                              ...
phone_more_cate_top3_152          0
phone_more_cate_top3_153          0
phone_more_cate_top3_155          0
phone_more_cate_top3_156          0
phone_more_cate_top3_157          0
phone_more_cate_top3_158          0
phone_more_cate_top3_159          0
phone_more_cate_top3_170          0
phone_more_cate_top3_171          0
phone_more_cate_top3_173          0
phone_more_cate_top3_175          0
phone_more_cate_top3_176          0
phone_more_cate_top3_177          0
phone_more_cate_top3_178          0
phone_more_cate_top3_180          0
phone_more_cate_top3_181          0
phone_more_cate_top3_182          0
phone_more_cate_top3_183          0
phone_more_cate_top3_184          0
phone_more_cate_top3_185          0
phone_more_cate_top3_186          0
phone_more_cate_top3_187          0
phone_more_cate_top3_188          0
phone_more_cate_top3_189          0
auth_bank_phoneTop3_same_0        0
auth_bank_phoneTop3_same_1        0
bank_name_more_count              0
card_type_more_count              0
phone_more_count                  0
phone_num                         0
Length: 67, dtype: int64

(                   id  target  bank_name_more_cate_a  bank_name_more_cate_b  \
 0  501951980776722440     0.0                      1                      0
 1  525890212484616200     0.0                      0                      0
 2  599309364691472392     0.0                      0                      0
 3  582559913071350024     0.0                      0                      0
 4  599017959926534408     0.0                      0                      0

    bank_name_more_cate_c  bank_name_more_cate_d  bank_name_more_cate_e  \
 0                      0                      0                      0
 1                      1                      0                      0
 2                      0                      0                      0
 3                      0                      0                      0
 4                      0                      0                      1

    bank_name_more_cate_f  bank_name_more_cate_g  bank_name_more_cate_h  \
 0                      0                      0                      0
 1                      0                      0                      0
 2                      0                      0                      1
 3                      0                      0                      0
 4                      0                      0                      0

      ...      phone_more_cate_top3_186  phone_more_cate_top3_187  \
 0    ...                             0                         0
 1    ...                             0                         1
 2    ...                             0                         0
 3    ...                             0                         0
 4    ...                             0                         0

    phone_more_cate_top3_188  phone_more_cate_top3_189  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

    auth_bank_phoneTop3_same_0  auth_bank_phoneTop3_same_1  \
 0                           1                           0
 1                           1                           0
 2                           1                           0
 3                           1                           0
 4                           1                           0

    bank_name_more_count  card_type_more_count  phone_more_count  phone_num
 0             -0.519122             -0.582044         -0.604938  -0.613536
 1             -0.519122             -0.582044         -0.604938  -0.613536
 2             -0.519122              1.307612          1.680578   1.500924
 3             -0.519122             -0.582044         -0.604938  -0.613536
 4             -0.519122             -0.582044         -0.604938  -0.613536

 [5 rows x 67 columns],
                    id  target  bank_name_more_cate_a  bank_name_more_cate_b  \
 0  637832512621515016     NaN                      1                      0
 1  624385123294384392     NaN                      1                      0
 2  636912835502280712     NaN                      0                      0
 3  638094054000693512     NaN                      0                      0
 4  636732958538993928     NaN                      1                      0

    bank_name_more_cate_c  bank_name_more_cate_d  bank_name_more_cate_e  \
 0                      0                      0                      0
 1                      0                      0                      0
 2                      1                      0                      0
 3                      1                      0                      0
 4                      0                      0                      0

    bank_name_more_cate_f  bank_name_more_cate_g  bank_name_more_cate_h  \
 0                      0                      0                      0
 1                      0                      0                      0
 2                      0                      0                      0
 3                      0                      0                      0
 4                      0                      0                      0

      ...      phone_more_cate_top3_186  phone_more_cate_top3_187  \
 0    ...                             1                         0
 1    ...                             0                         0
 2    ...                             0                         0
 3    ...                             0                         0
 4    ...                             0                         0

    phone_more_cate_top3_188  phone_more_cate_top3_189  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

    auth_bank_phoneTop3_same_0  auth_bank_phoneTop3_same_1  \
 0                           1                           0
 1                           1                           0
 2                           1                           0
 3                           1                           0
 4                           1                           0

    bank_name_more_count  card_type_more_count  phone_more_count  phone_num
 0              3.277598              0.677726          0.766372   1.078032
 1              0.746452             -0.582044         -0.147835  -0.190644
 2             -0.519122              0.047841         -0.147835  -0.190644
 3             -0.519122             -0.582044         -0.604938  -0.613536
 4             -0.519122             -0.582044         -0.604938  -0.613536

 [5 rows x 67 columns])

In [35]:
del test["target"]
train.to_csv("../dealinput/train_bankcard.csv",index = False)
test.to_csv("../dealinput/test_bankcard.csv",index = False)

In [54]:
#ä¸‹é¢å¼€å§‹åˆå¹¶æ•°æ®é›†
train11 = pd.read_csv("../dealinput/train1ok.csv")
test11 = pd.read_csv("../dealinput/test1ok.csv")    
train11.head(),test11.head(),train11.shape,test11.shape

(                   id  target  qq_bound_å·²ç»‘å®š  qq_bound_æœªç»‘å®š  sex_ä¿å¯†  sex_å¥³  \
 0  501951980776722440     0.0             0             1       0      1
 1  525890212484616200     0.0             0             1       0      0
 2  599309364691472392     0.0             1             0       1      0
 3  582559913071350024     0.0             1             0       1      0
 4  599017959926534408     0.0             0             1       1      0

    sex_ç”·  wechat_bound_å·²ç»‘å®š  wechat_bound_æœªç»‘å®š  auth_time_day_1    ...     \
 0      0                 0                 1                0    ...
 1      1                 1                 0                0    ...
 2      0                 1                 0                0    ...
 3      0                 1                 0                0    ...
 4      0                 1                 0                0    ...

    phoneTop3_186  phoneTop3_187  phoneTop3_188  Appl_sbm_tm  auth_time_miao  \
 0              0              0              0    -0.884241        1.054406
 1              0              1              0    -0.567523        0.037656
 2              0              0              0     0.403880       -2.385599
 3              0              0              0     0.182289        0.037656
 4              0              0              0     0.400017        0.077196

    credit_score     quota  missNumber  overdraft   timeGap
 0     -0.355594 -0.519129   -0.710942  -0.440698 -1.485297
 1     -4.156157 -0.519129    0.965938  -0.440698 -0.350713
 2      1.138898  2.214145   -0.710942   2.808553  2.473657
 3      0.277833 -0.519129    0.965938  -0.440698  0.065740
 4     -0.316005 -0.519129   -0.710942  -0.440698  0.149387

 [5 rows x 62 columns],
                    id  qq_bound_å·²ç»‘å®š  qq_bound_æœªç»‘å®š  sex_ä¿å¯†  sex_å¥³  sex_ç”·  \
 0  637832512621515016             1             0       1      0      0
 1  624385123294384392             1             0       1      0      0
 2  636912835502280712             0             1       0      0      1
 3  638094054000693512             1             0       1      0      0
 4  636732958538993928             1             0       1      0      0

    wechat_bound_å·²ç»‘å®š  wechat_bound_æœªç»‘å®š  auth_time_day_1  auth_time_day_4  \
 0                 1                 0                0                0
 1                 1                 0                0                0
 2                 1                 0                0                0
 3                 0                 1                0                0
 4                 1                 0                0                0

      ...     phoneTop3_186  phoneTop3_187  phoneTop3_188  Appl_sbm_tm  \
 0    ...                 1              0              0     0.913579
 1    ...                 0              0              0     0.735662
 2    ...                 0              0              0     0.901426
 3    ...                 0              0              0     0.917081
 4    ...                 0              0              0     0.899167

    auth_time_miao  credit_score     quota  missNumber  overdraft   timeGap
 0        1.139135      0.911260  2.136818   -0.710942   2.801104 -0.566658
 1        0.037656      0.812287  0.000110    0.965938  -0.440698  0.373090
 2       -1.933710     -0.771281  0.809803   -0.710942   0.263072  2.323922
 3        1.105243     -0.306108 -0.519129   -0.710942  -0.440698 -0.532757
 4        1.110892      1.039925  0.999605   -0.710942   1.413042 -0.548033

 [5 rows x 61 columns],
 (120929, 62),
 (47031, 61))

In [56]:
mm = pd.concat([train.id,train[ff]],axis = 1)
nn =  pd.concat([test.id,test[ff]],axis = 1)
train11 = train11.merge(mm,how = "left",on = "id")
test11 = test11.merge(nn,how = "left",on = "id")
print(train11.isnull().sum(),test11.isnull().sum())
train11.head(),test11.head(),train11.shape,test11.shape

id                            0
target                        0
qq_bound_å·²ç»‘å®š                  0
qq_bound_æœªç»‘å®š                  0
sex_ä¿å¯†                        0
sex_å¥³                         0
sex_ç”·                         0
wechat_bound_å·²ç»‘å®š              0
wechat_bound_æœªç»‘å®š              0
auth_time_day_1               0
auth_time_day_4               0
auth_time_day_6               0
auth_time_day_8               0
auth_time_day_9               0
auth_time_day_12              0
auth_time_day_13              0
auth_time_day_24              0
auth_time_day_25              0
auth_time_day_26              0
auth_time_day_29              0
auth_time_day_30              0
auth_time_mon_1               0
auth_time_mon_2               0
auth_time_mon_3               0
auth_time_mon_4               0
auth_time_mon_5               0
auth_time_mon_6               0
auth_time_mon_7               0
auth_time_mon_8               0
auth_time_mon_9               0
                             ..
phone_more_cate_top3_134      0
phone_more_cate_top3_135      0
phone_more_cate_top3_136      0
phone_more_cate_top3_137      0
phone_more_cate_top3_138      0
phone_more_cate_top3_139      0
phone_more_cate_top3_147      0
phone_more_cate_top3_150      0
phone_more_cate_top3_151      0
phone_more_cate_top3_152      0
phone_more_cate_top3_153      0
phone_more_cate_top3_155      0
phone_more_cate_top3_157      0
phone_more_cate_top3_158      0
phone_more_cate_top3_159      0
phone_more_cate_top3_177      0
phone_more_cate_top3_180      0
phone_more_cate_top3_182      0
phone_more_cate_top3_183      0
phone_more_cate_top3_184      0
phone_more_cate_top3_185      0
phone_more_cate_top3_186      0
phone_more_cate_top3_187      0
phone_more_cate_top3_188      0
auth_bank_phoneTop3_same_0    0
auth_bank_phoneTop3_same_1    0
bank_name_more_count          0
card_type_more_count          0
phone_more_count              0
phone_num                     0
Length: 115, dtype: int64 id                            0
qq_bound_å·²ç»‘å®š                  0
qq_bound_æœªç»‘å®š                  0
sex_ä¿å¯†                        0
sex_å¥³                         0
sex_ç”·                         0
wechat_bound_å·²ç»‘å®š              0
wechat_bound_æœªç»‘å®š              0
auth_time_day_1               0
auth_time_day_4               0
auth_time_day_6               0
auth_time_day_8               0
auth_time_day_9               0
auth_time_day_12              0
auth_time_day_13              0
auth_time_day_24              0
auth_time_day_25              0
auth_time_day_26              0
auth_time_day_29              0
auth_time_day_30              0
auth_time_mon_1               0
auth_time_mon_2               0
auth_time_mon_3               0
auth_time_mon_4               0
auth_time_mon_5               0
auth_time_mon_6               0
auth_time_mon_7               0
auth_time_mon_8               0
auth_time_mon_9               0
auth_time_mon_10              0
                             ..
phone_more_cate_top3_134      0
phone_more_cate_top3_135      0
phone_more_cate_top3_136      0
phone_more_cate_top3_137      0
phone_more_cate_top3_138      0
phone_more_cate_top3_139      0
phone_more_cate_top3_147      0
phone_more_cate_top3_150      0
phone_more_cate_top3_151      0
phone_more_cate_top3_152      0
phone_more_cate_top3_153      0
phone_more_cate_top3_155      0
phone_more_cate_top3_157      0
phone_more_cate_top3_158      0
phone_more_cate_top3_159      0
phone_more_cate_top3_177      0
phone_more_cate_top3_180      0
phone_more_cate_top3_182      0
phone_more_cate_top3_183      0
phone_more_cate_top3_184      0
phone_more_cate_top3_185      0
phone_more_cate_top3_186      0
phone_more_cate_top3_187      0
phone_more_cate_top3_188      0
auth_bank_phoneTop3_same_0    0
auth_bank_phoneTop3_same_1    0
bank_name_more_count          0
card_type_more_count          0
phone_more_count              0
phone_num                     0
Length: 114, dtype: int64

(                   id  target  qq_bound_å·²ç»‘å®š  qq_bound_æœªç»‘å®š  sex_ä¿å¯†  sex_å¥³  \
 0  501951980776722440     0.0             0             1       0      1
 1  525890212484616200     0.0             0             1       0      0
 2  599309364691472392     0.0             1             0       1      0
 3  582559913071350024     0.0             1             0       1      0
 4  599017959926534408     0.0             0             1       1      0

    sex_ç”·  wechat_bound_å·²ç»‘å®š  wechat_bound_æœªç»‘å®š  auth_time_day_1    ...      \
 0      0                 0                 1                0    ...
 1      1                 1                 0                0    ...
 2      0                 1                 0                0    ...
 3      0                 1                 0                0    ...
 4      0                 1                 0                0    ...

    phone_more_cate_top3_185  phone_more_cate_top3_186  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

    phone_more_cate_top3_187  phone_more_cate_top3_188  \
 0                         0                         0
 1                         1                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

    auth_bank_phoneTop3_same_0  auth_bank_phoneTop3_same_1  \
 0                           1                           0
 1                           1                           0
 2                           1                           0
 3                           1                           0
 4                           1                           0

    bank_name_more_count  card_type_more_count  phone_more_count  phone_num
 0             -0.519122             -0.582044         -0.604938  -0.613536
 1             -0.519122             -0.582044         -0.604938  -0.613536
 2             -0.519122              1.307612          1.680578   1.500924
 3             -0.519122             -0.582044         -0.604938  -0.613536
 4             -0.519122             -0.582044         -0.604938  -0.613536

 [5 rows x 115 columns],
                    id  qq_bound_å·²ç»‘å®š  qq_bound_æœªç»‘å®š  sex_ä¿å¯†  sex_å¥³  sex_ç”·  \
 0  637832512621515016             1             0       1      0      0
 1  624385123294384392             1             0       1      0      0
 2  636912835502280712             0             1       0      0      1
 3  638094054000693512             1             0       1      0      0
 4  636732958538993928             1             0       1      0      0

    wechat_bound_å·²ç»‘å®š  wechat_bound_æœªç»‘å®š  auth_time_day_1  auth_time_day_4  \
 0                 1                 0                0                0
 1                 1                 0                0                0
 2                 1                 0                0                0
 3                 0                 1                0                0
 4                 1                 0                0                0

      ...      phone_more_cate_top3_185  phone_more_cate_top3_186  \
 0    ...                             0                         1
 1    ...                             0                         0
 2    ...                             0                         0
 3    ...                             0                         0
 4    ...                             0                         0

    phone_more_cate_top3_187  phone_more_cate_top3_188  \
 0                         0                         0
 1                         0                         0
 2                         0                         0
 3                         0                         0
 4                         0                         0

    auth_bank_phoneTop3_same_0  auth_bank_phoneTop3_same_1  \
 0                           1                           0
 1                           1                           0
 2                           1                           0
 3                           1                           0
 4                           1                           0

    bank_name_more_count  card_type_more_count  phone_more_count  phone_num
 0              3.277598              0.677726          0.766372   1.078032
 1              0.746452             -0.582044         -0.147835  -0.190644
 2             -0.519122              0.047841         -0.147835  -0.190644
 3             -0.519122             -0.582044         -0.604938  -0.613536
 4             -0.519122             -0.582044         -0.604938  -0.613536

 [5 rows x 114 columns],
 (120929, 115),
 (47031, 114))

In [57]:
# train11.to_csv("../dealinput/train2ok.csv",index = False)
# test11.to_csv("../dealinput/test2ok.csv",index = False)

In [62]:
# train = fulldata[0:train.shape[0]]
# test = fulldata[train.shape[0]:]

# trainx = train.iloc[:,2:]
trainx = train11[ff]
trainy = train11.iloc[:,1]
print("trainx.shape",trainx.shape)
print("trainy.shape",trainy.shape)
from sklearn.cross_validation import train_test_split
x_train,x_valid,y_train,y_valid = train_test_split(trainx,trainy,test_size = 0.2,random_state = 2)  
print("x_train.shape",x_train.shape)
print("x_valid.shape",x_valid.shape)
print("y_train.shape",y_train.shape)
print("y_valid.shape",y_valid.shape)

trainx.shape (120929, 81)
trainy.shape (120929,)
x_train.shape (96743, 81)
x_valid.shape (24186, 81)
y_train.shape (96743,)
y_valid.shape (24186,)

In [63]:
skf = StratifiedKFold(n_splits=5)
xgb1 = XGBClassifier(
#         booster = 'dart',
        learning_rate =0.1,
        n_estimators=5000,
        max_depth=5,
        min_child_weight=5,
        gamma=0.1,
        subsample=0.8,
        colsample_bytree=0.8,
        objective= 'binary:logistic',
        nthread=2,
        scale_pos_weight=1,
        StratifiedKFold = True,          #0.866124	0.008005	0.965337	0.002286
        seed=1)
xgb_param = xgb1.get_xgb_params()
#æž„å»ºç¨€ç–çŸ©é˜µï¼Œè¿è¡Œæ›´å¿«
xgtrain = xgb.DMatrix(x_train, label = y_train)
mm = xgb.cv(xgb_param, xgtrain, num_boost_round=1000, nfold=3,
    metrics='auc', early_stopping_rounds=50)
mm.iloc[-3:,:]  #
# 0.828775
# 0.002160
# 0.880549
# 0.000719   104 ç»´åº¦  å•è¡¨

# 70
# 0.600300
# 0.012104
# 0.644789
# 0.007244  bank    åˆ é™¤è´¡çŒ®ä¸º0çš„
# 179
# 0.830636
# 0.002385
# 0.903691
# 0.000808   å•è¡¨åŠ bank  æ²¡æœ‰åˆ é™¤è´¡çŒ®ä¸º0çš„åˆ—

     test-auc-mean  test-auc-std  train-auc-mean  train-auc-std
188       0.830778      0.003264        0.905339       0.000462
189       0.830804      0.003150        0.905607       0.000408
190       0.830849      0.003164        0.905893       0.000481

In [64]:
importance = 0
for i in range(5):
    xgb1 = XGBClassifier(
    #         booster = 'dart',
            learning_rate =0.1,
            n_estimators=mm.shape[0],
            max_depth=5,
            min_child_weight=5,
            gamma=0.1,
            subsample=0.8,
            colsample_bytree=0.8,
            objective= 'binary:logistic',
            nthread=3,
            scale_pos_weight=1,
            StratifiedKFold = True,          #0.866124	0.008005	0.965337	0.002286
            seed=1)
    xgb1.fit(x_train,y_train)
    prexgb = xgb1.predict_proba(x_valid)[:,1]
    auc = roc_auc_score(y_valid,prexgb)
    print("xgb1 auc",auc)
    importance += xgb1.feature_importances_
importance = importance/5

xgb1 auc 0.8233255585636322
xgb1 auc 0.8233255585636322
xgb1 auc 0.8233255585636322
xgb1 auc 0.8233255585636322
xgb1 auc 0.8233255585636322

In [61]:
print(trainx.columns,importance)
number = 0
ff = []
for i in range(len(importance)):
    if importance[i] >0.001:
        ff.append(trainx.columns[i])
        number += 1
print(number)
ff,len(ff)

Index(['qq_bound_å·²ç»‘å®š', 'qq_bound_æœªç»‘å®š', 'sex_ä¿å¯†', 'sex_å¥³', 'sex_ç”·',
       'wechat_bound_å·²ç»‘å®š', 'wechat_bound_æœªç»‘å®š', 'auth_time_day_1',
       'auth_time_day_4', 'auth_time_day_6',
       ...
       'phone_more_cate_top3_185', 'phone_more_cate_top3_186',
       'phone_more_cate_top3_187', 'phone_more_cate_top3_188',
       'auth_bank_phoneTop3_same_0', 'auth_bank_phoneTop3_same_1',
       'bank_name_more_count', 'card_type_more_count', 'phone_more_count',
       'phone_num'],
      dtype='object', length=113) [0.02520775 0.00387812 0.00526316 0.00193906 0.01606648 0.01385042
 0.00304709 0.00055402 0.00193906 0.00138504 0.00138504 0.00110803
 0.0099723  0.00110803 0.00277008 0.00110803 0.00138504 0.00083102
 0.00221607 0.00166205 0.00249307 0.00166205 0.00083102 0.00083102
 0.00138504 0.00055402 0.00166205 0.00055402 0.00166205 0.00498615
 0.00166205 0.00304709 0.00110803 0.01551246 0.00304709 0.
 0.00138504 0.00166205 0.00083102 0.00221607 0.00110803 0.00138504
 0.00747922 0.00138504 0.00193906 0.00083102 0.00166205 0.00055402
 0.00138504 0.00055402 0.00027701 0.00166205 0.00304709 0.18864267
 0.08753463 0.14155124 0.03518005 0.02049861 0.03739612 0.15457064
 0.00775623 0.00360111 0.00581717 0.00360111 0.00166205 0.00083102
 0.00110803 0.00498615 0.00166205 0.00027701 0.00083102 0.00387812
 0.0033241  0.00027701 0.00415512 0.00110803 0.01052632 0.0033241
 0.00554017 0.00055402 0.00027701 0.00138504 0.00055402 0.00055402
 0.00083102 0.00221607 0.00138504 0.00055402 0.00138504 0.00055402
 0.00138504 0.00221607 0.0033241  0.00138504 0.         0.00083102
 0.00027701 0.00027701 0.00055402 0.00138504 0.00110803 0.00083102
 0.00027701 0.00138504 0.00138504 0.00083102 0.00083102 0.00775623
 0.00166205 0.01191136 0.0166205  0.0166205  0.02022161]
81

(['qq_bound_å·²ç»‘å®š',
  'qq_bound_æœªç»‘å®š',
  'sex_ä¿å¯†',
  'sex_å¥³',
  'sex_ç”·',
  'wechat_bound_å·²ç»‘å®š',
  'wechat_bound_æœªç»‘å®š',
  'auth_time_day_4',
  'auth_time_day_6',
  'auth_time_day_8',
  'auth_time_day_9',
  'auth_time_day_12',
  'auth_time_day_13',
  'auth_time_day_24',
  'auth_time_day_25',
  'auth_time_day_26',
  'auth_time_day_30',
  'auth_time_mon_1',
  'auth_time_mon_2',
  'auth_time_mon_3',
  'auth_time_mon_6',
  'auth_time_mon_8',
  'auth_time_mon_10',
  'auth_time_mon_12',
  'auth_time_year_2015',
  'auth_time_year_2016',
  'auth_time_year_2017',
  'phoneLastLen_3',
  'phoneLastLen_4',
  'phoneTop3_133',
  'phoneTop3_134',
  'phoneTop3_137',
  'phoneTop3_139',
  'phoneTop3_151',
  'phoneTop3_152',
  'phoneTop3_155',
  'phoneTop3_158',
  'phoneTop3_182',
  'phoneTop3_184',
  'phoneTop3_187',
  'phoneTop3_188',
  'Appl_sbm_tm',
  'auth_time_miao',
  'credit_score',
  'quota',
  'missNumber',
  'overdraft',
  'timeGap',
  'bank_name_more_cate_a',
  'bank_name_more_cate_b',
  'bank_name_more_cate_c',
  'bank_name_more_cate_d',
  'bank_name_more_cate_e',
  'bank_name_more_cate_h',
  'bank_name_more_cate_i',
  'bank_name_more_cate_j',
  'bank_name_more_cate_n',
  'bank_name_more_cate_nk',
  'card_type_more_cate_1.0',
  'card_type_more_cate_2.0',
  'havaCreditCard_0',
  'havaCreditCard_1',
  'phoneSame_0',
  'phone_more_cate_top3_132',
  'phone_more_cate_top3_136',
  'phone_more_cate_top3_137',
  'phone_more_cate_top3_139',
  'phone_more_cate_top3_150',
  'phone_more_cate_top3_151',
  'phone_more_cate_top3_152',
  'phone_more_cate_top3_153',
  'phone_more_cate_top3_180',
  'phone_more_cate_top3_182',
  'phone_more_cate_top3_185',
  'phone_more_cate_top3_186',
  'auth_bank_phoneTop3_same_0',
  'auth_bank_phoneTop3_same_1',
  'bank_name_more_count',
  'card_type_more_count',
  'phone_more_count',
  'phone_num'],
 81)